<div class="sidenav">
  <h3>Select User</h3>
  <form >
    <select name="users" id="users">
      <option value="Dexter Sy (Admin)">Dexter Sy (Admin)</option>
      <option value="Romeo (Manager)">Romeo (Manager)</option>
      <option value="Clark (Member)">Clark (Member)</option>
      <option value="Carli (Member)">Carli (Member)</option>
    </select>
  </form>
  <br>
  <h3 class="employees-nav">Employees</h3>
  <span>View All</span>
  <br>
  <span>Add New</span>
  <br>
  <br>
  <h3 class="leaves-nav">Leaves</h3>
  <span>View All</span>
</div>


<div class="main">
  <div class="header">
    <h2>All Employees</h2>
    <div class="actions">
      <button class="add" routerLink="add-employee">+ Add New Employee</button>
    </div>
  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Manager</th>
          <th>Used Leaves</th>
          <th>Available Leaves</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Clark Tabar</td>
        <td>Romeo Fermano</td>
        <td>5</td>
        <td>10</td>
        <td>
          <button class="edit" routerLink="edit-employee">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
