.sidenav{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
select{
  width: 90%;
  height: 20%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  font-size: 18px;
}
h3{
  color: #F14E6D;
}
span{
  color: white;
}
span:hover{
  color: #F14E6D;
}
hover{

}
.main{
  padding-top: 50px;
  margin-left: 250px;
  font-family: Source Sans Pro, sans-serif;
}
.header{
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}
table{
  display: table;
  width: 100%;
  border-collapse: collapse;
}

td{
  text-align: center;
}

.table{
  margin-left: 50px;
}
