<div class="main">
  <div class="site-title">
    <img ngSrc="assets/logo-black.png" alt="rise-logo" height="191" width="505">
    <br>
    <span>My Personal</span>
    <br>
    <span>Time Out</span><br>
  </div>
  <br>
  <br>
  <div class="log-in">
    <span>LOG IN AS</span>
    <div class="admin" *ngIf="true" >
      <form>
        <select name="users" class="users" [(ngModel)]="selectedUser">
          <option value="" disabled>Select a user</option>
          <option *ngFor="let user of users" [value]="user.roleType">{{user.name}} ({{user.roleType}})</option>
        </select>
        <br>
        <button (click)="getUserPath()" type="submit" class="submit">Log in</button>
      </form>
    </div>
  </div>
</div>
