<div class="content">
  <button routerLink="hr-admin">Back</button>

  <div class="main">
    <h2>Create Employee</h2>

    <form>

      <div>
        <label for="name">Name </label>
        <input id="name" placeholder="Name">
      </div>

      <div>
        <label for="manager">Manager </label>
        <input id="manager" placeholder="Manager">
      </div>

      <div>
        <label for="annual-leave">Annual Leave </label>
        <input id="annual-leave" placeholder="Manager">
      </div>

      <div>
        <label for="role">Role </label>
        <input id="role" placeholder="Name">
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
