<div class="sidenav">
  <br>
  <span class="leaves-nav">Select User</span>
  <br>
  <br>
  <form >
    <select name="users" id="users">
      <option value="Dexter Sy (Admin)">Dexter Sy (Admin)</option>
      <option value="Romeo (Manager)">Romeo (Manager)</option>
      <option value="Clark (Member)">Clark (Member)</option>
      <option value="Carli (Member)">Carli (Member)</option>
    </select>
  </form>
  <br>
  <br>
  <span class="leaves-nav">Leaves</span>
  <br>
  <br>
  <span class="nav-item" routerLink="apply">Apply</span>
  <br>
  <span  class="nav-item">My Leaves</span>

  <div class="site-title">
    <img ngSrc="assets/logo-white.png" alt="rise-logo" height="335" width="1069">

    <br>
    <span>My Personal</span><br>
    <span>Time Out</span><br><br>

  </div>
</div>


<div class="main">

  <div class="credit-status">
    <div class="used-leave-credits">
      <span class="status-header">Used Credits:</span>
      <br>
      <span class="status-data">5</span>
    </div>
    <div class="available-leave-credits">
      <span class="status-header">Available Credits:</span>
      <br>
      <span class="status-data">10</span>
    </div>
  </div>


  <div class="header">
    <h2>My Leaves</h2>
    <div class="actions">
    </div>
  </div>

  <div class="table">
    <table>
      <thead>
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Days</th>
        <th>Reason</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>12/22/2023</td>
        <td>12/27/2023</td>
        <td>5</td>
        <td>Vacation Leave</td>
        <td>Pending</td>
        <td>
          <button class="cancel">Cancel</button>
        </td>
      </tr>
      <tr>
        <td>12/22/2023</td>
        <td>12/27/2023</td>
        <td>5</td>
        <td>Vacation Leave</td>
        <td>Pending</td>
        <td>
          <button class="cancel">Cancel</button>
        </td>
      </tr>
      <tr>
        <td>12/22/2023</td>
        <td>12/27/2023</td>
        <td>5</td>
        <td>Vacation Leave</td>
        <td>Pending</td>
        <td>
          <button class="cancel">Cancel</button>
        </td>
      </tr><tr>
        <td>12/22/2023</td>
        <td>12/27/2023</td>
        <td>5</td>
        <td>Vacation Leave</td>
        <td>Pending</td>
        <td>
          <button class="cancel">Cancel</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="pagination">
    <button class="page-button">< Previous</button>
    <button class="page-button">Next ></button>
  </div>
</div>
