<app-side-navigation-bar></app-side-navigation-bar>

<div class="main">

    <div class="credit-status">
        <div class="used-leave-credits">
            <span class="status-header">Used Credits:</span>
            <br>
            <span class="status-data">{{usedLeaves}}</span>
        </div>
        <div class="available-leave-credits">
            <span class="status-header">Available Credits:</span>
            <br>
            <span class="status-data">{{availableLeaves}}</span>
        </div>
    </div>


    <div class="header">
        <h2>My Leaves</h2>
        <div class="actions">
        </div>
    </div>

    <div class="table">
        <table>
            <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Days</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leave of leavesInPage.content">
                <td>{{leave.startDate}}</td>
                <td>{{leave.endDate}}</td>
                <td>{{leave.days}}</td>
                <td>{{leave.reason}}</td>
                <td>{{leave.leaveStatus}}</td>
                <td>
                    <button (click)="cancelLeave(leave.id)" [value]="leave.leaveStatus">Cancel</button>
                </td>
            </tr>


            </tbody>
        </table>

        <div *ngIf="dataInfo" class="data-info">
            <span class="data-info">No filed leaves yet...</span>
        </div>
    </div>

    <div class="pagination">
        <button class="page-button">< Previous</button>
        <button class="page-button">Next ></button>
    </div>
</div>

