<div class="main">
  <div class="site-title">
    <img alt="rise-logo" height="191" ngSrc="assets/logo-black.png" width="505">
    <br>
    <span>My Personal</span>
    <br>
    <span>Time Out</span><br>
  </div>
  <br>
  <br>
  <div class="log-in">
    <span>LOG IN AS</span>
    <div *ngIf="true" class="admin">
      <select [(ngModel)]="selectedUser" class="users" name="users">
        <option disabled value="">Select a user</option>
        <option *ngFor="let user of users" [ngValue]="user">{{user.name}} ({{user.roleType}})
        </option>
      </select>
      <br>
      <button (click)="getUserPath()" class="submit" type="submit">Log in</button>
    </div>
  </div>
</div>

<app-user-selection-modal (closeModalEvent)="closeModal()" *ngIf="showModal"></app-user-selection-modal>
