<div class="content">


  <div class="main">
    <div class="header">
      <h2>Create Employee</h2>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="addEmployeeForm">

      <div>
        <label for="name">Name </label>
        <input id="name" placeholder="Name" type="text" formControlName="name">
      </div>

      <div>
        <label for="role">Role </label>
        <select id="role" formControlName="roleType">
          <option>MEMBER</option>
          <option>MANAGER</option>
        </select>
      </div>

      <div>
        <label for="annual-leave">Annual Leave </label>
        <input id="annual-leave" placeholder="Annual Leave" type="number" formControlName="totalLeaves">
      </div>

      <div>
        <label for="manager">Manager </label>
        <select id="manager" formControlName="managerId">
          <option *ngFor="let manager of managers" [value]="manager.id">{{manager.name}}</option>
        </select>
      </div>

      <div class="bottom">
        <button class="submit" type="submit">Submit</button>
        <button (click)="goBack()" class="back">Back</button>
      </div>
    </form>
  </div>
</div>
