<div class="content">


    <div class="main">
        <div class="header">
            <h2>Create Employee</h2>
        </div>

        <form (ngSubmit)="onSubmit()" [formGroup]="addEmployeeForm">

            <div>
                <label for="name">Name </label>
                <input formControlName="name" id="name" placeholder="Name" type="text">
            </div>

            <div>
                <label for="role">Role </label>
                <select formControlName="roleType" id="role">
                    <option>MEMBER</option>
                    <option>MANAGER</option>
                </select>
            </div>

            <div>
                <label for="annual-leave">Annual Leave </label>
                <input formControlName="totalLeaves" id="annual-leave" placeholder="Annual Leave" type="number">
            </div>

            <div>
                <label for="manager">Manager </label>
                <select formControlName="managerId" id="manager">
                    <option *ngFor="let manager of managers" [value]="manager.id">{{manager.name}}</option>
                </select>
            </div>

            <div class="bottom">
                <button class="submit" type="submit">Submit</button>
                <button (click)="goBack()" class="back">Back</button>
            </div>
        </form>
    </div>
</div>
