<div class="sidenav">
    <h3>Welcome Back</h3>
    <form>
        <h3>{{ userName }}</h3>
    </form>
    <br>
    <h3 class="employees-nav">Employees</h3>
    <span (click)="viewAllEmployee()" class="nav-item">View All</span>
    <br>
    <span class="nav-item" routerLink="add-employee">Add New</span>
    <br>
    <br>
    <h3 class="leaves-nav">Leaves</h3>
    <span (click)="viewAllLeaves()" class="nav-item">View All</span>
    <br>
    <br>
    <button (click)="logout()" class="logout">Logout</button>
</div>


<div class="main">
    <div class="header">
        <h2>All Leaves</h2>
        <div class="actions">

        </div>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Applied By</th>
                <th>Start</th>
                <th>End</th>
                <th>Days</th>
                <th>Reason</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leaves of leavesInPage.content">
                <td>{{leaves.id}}</td>
                <td>{{leaves.employeeName}}</td>
                <td>{{leaves.startDate}}</td>
                <td>{{leaves.endDate}}</td>
                <td>{{leaves.days}}</td>
                <td>{{leaves.reason}}</td>
                <td>{{leaves.leaveStatus}}</td>
                <td>
                    <button (click)="approveLeave(leaves.id)" *ngIf="leaves.leaveStatus === 'PENDING'" class="approve">
                        Approve
                    </button>
                    <button (click)="rejectLeave(leaves.id)" *ngIf="leaves.leaveStatus === 'PENDING'" class="reject">
                        Reject
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
