.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeIn 0.5s ease-in-out;
}

.sidenav h3 {
    color: white;
    margin-top: 20px;
}

.sidenav form {
    margin-bottom: 20px;
}

.sidenav .nav-item {
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidenav .nav-item:hover {
    color: #F14E6D;
}

.sidenav .logout {
    padding: 8px 20px;
    margin-top: 500px;
    border: none;
    border-radius: 5px;
    background-color: #F14E6D;
    color: white;
    cursor: pointer;
}

.sidenav .logout:hover {
    background-color: #D43C5A;
}

select {
    width: 90%;
    height: 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
    font-size: 15px;
    padding: 8px 5px;
}

h3 {
    color: white;
}

.main {
    padding-top: 50px;
    margin-left: 250px;
    font-family: Source Sans Pro, sans-serif;
}

.reject {
    padding: 10px 20px;
    margin: 10px 5px;
    border: 1px solid #F14E6D;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    color: #F14E6D;
}

.reject:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.approve {
    padding: 10px 15px;
    margin: 10px 5px;
    border: 1px solid #F14E6D;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F14E6D;
    color: white;
}

.approve:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.header {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    margin-left: 50px;
    min-width: 800px;
}

.main .table th,
.main .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    animation: fadeIn 0.5s ease-in-out;
}

td {
    text-align: center;
}

.table {
    margin-left: 50px;
}

.main .table th {
    background-color: #f2f2f2;
}

.main .table tr:hover {
    background-color: #f5f5f5;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-container button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.pagination-container button:hover {
    background-color: #e6e6e6;
}

.pagination-container button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination-container span {
    margin: 0 10px;
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}