<app-side-navigation-bar></app-side-navigation-bar>

<div class="main">
    <div class="header">
        <h2>All Employees</h2>
        <div class="actions">
            <button (click)="addEmployee()" class="add">+ Add New Employee</button>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Manager</th>
                <th>Total Leaves</th>
                <th>Current Leaves</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employeesInPage.content">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.manager}}</td>
                <td>{{employee.totalLeaves}}</td>
                <td>{{employee.currentLeaves}}</td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="employeesInPage.content.length === 0" class="no-data-message">
            <span class="data-info">No data available yet...</span>
        </div>
        <div *ngIf="employeesInPage.content.length > 0" class="pagination pagination-container">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
            <span>{{ currentPage }}</span>
            <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next
            </button>
        </div>
    </div>
</div>

