<!--<div class="sidenav">-->
<!--    <h3>Welcome Back!</h3>-->
<!--    <form>-->
<!--        <h3>{{ userName }}</h3>-->
<!--    </form>-->
<!--    <br>-->
<!--    <h3 class="employees-nav">Employees</h3>-->
<!--    <span (click)="viewAllEmployee()" class="nav-item">View All</span>-->
<!--    <br>-->
<!--    <span class="nav-item" routerLink="add-employee">Add New</span>-->
<!--    <br>-->
<!--    <br>-->
<!--    <h3 class="leaves-nav">Leaves</h3>-->
<!--    <span class="nav-item" routerLink="leaves">View All</span>-->
<!--    <br>-->
<!--    <br>-->
<!--    <button (click)="logout()" class="logout">Logout</button>-->
<!--</div>-->
<app-side-navigation-bar></app-side-navigation-bar>

<div class="main">
    <div class="header">
        <h2>All Employees</h2>
        <div class="actions">
            <button (click)="addEmployee()" class="add">+ Add New Employee</button>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Manager</th>
                <th>Used Leaves</th>
                <th>Available Leaves</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employeesInPage.content">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.manager}}</td>
                <td>{{employee.totalLeaves}}</td>
                <td>{{employee.currentLeaves}}</td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="employeesInPage.content.length === 0" class="no-data-message">
            No data available
        </div>
        <div *ngIf="employeesInPage.content.length > 0" class="pagination pagination-container">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
            <span>{{ currentPage }}</span>
            <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next
            </button>
        </div>
    </div>
</div>

