<div class="sidenav">
    <div class="nav-list">
        <span class="leaves-nav">Welcome Back</span>
        <br>
        <br>
        <form>
            <h3>User</h3>
        </form>

<!--<<<<<<< HEAD-->
<!--    <br>-->
<!--    <div *ngIf="false">-->
<!--      <span class="leaves-nav">Employees</span>-->
<!--      <br>-->
<!--      <br>-->
<!--      <span class="nav-item">View All</span>-->
<!--      <br>-->
<!--      <span class="nav-item">Add New</span>-->
<!--      <br>-->
<!--    </div>-->
<!--=======-->
        <br>
        <div *ngIf="false">
            <span class="leaves-nav">Employees</span>
            <br>
            <br>
            <span class="nav-item">View All</span>
            <br>
            <span class="nav-item">Add New</span>
            <br>
        </div>

        <div *ngIf="true">
            <br><br>
            <span *ngIf="true" class="leaves-nav">Leaves</span>
            <br>
            <br>
            <span *ngIf="true" class="nav-item" routerLink="apply">Apply</span>
            <br>
            <span *ngIf="true" class="nav-item">My Leaves</span>
            <br>
            <span *ngIf="true" class="nav-item">View All</span>

            <div *ngIf="true">
                <br><br>
                <span *ngIf="true" class="leaves-nav">Leaves</span>
                <br>
                <span *ngIf="true" class="nav-item">View All</span>
                <br>
                <span *ngIf="true" class="nav-item" routerLink="apply">Apply</span>
                <br>
                <span *ngIf="true" class="nav-item">My Leaves</span>
            </div>
        </div>

        <div *ngIf="true" class="site-title">
            <img alt="rise-logo" height="335" ngSrc="assets/logo-white.png" width="1069">

            <br>
            <span>My Personal</span><br>
            <span>Time Out</span><br>
        </div>
    </div>
</div>