<div class="content">
<button class="back" routerLink="manager">< Back</button>

<div class="main">
    <div class="header">
        <h2>Apply for Leave</h2>
    </div>
</div>
    <div class="body">
      <form class="" [formGroup]="addLeaveForm" (ngSubmit)="addLeave()">

        <div>
          <label for="start-date">Start Date </label>
          <input id="start-date" type="date" formControlName="startDate">
        </div>

        <div>
          <label for="end-date">End Date </label>
          <input id="end-date" type="date" formControlName="endDate">
        </div>

        <div>
          <label for="reason">Reason </label>
          <input id="reason" placeholder="Reason" type="text" formControlName="reason">
        </div>

        <div class="bottom">
          <button class="submit" type="submit">Apply</button>
        </div>
      </form>
    </div>
</div>
