<div class="content">
    <button class="back" routerLink="manager">< Back</button>

    <div class="main">
        <div class="header">
            <h2>Apply for Leave</h2>
        </div>

        <form>

            <div>
                <label for="start-date">Start Date </label>
                <input id="start-date" type="date">
            </div>

            <div>
                <label for="end-date">End Date </label>
                <input id="end-date" type="date">
            </div>

            <div>
                <label for="total-days">Total Days </label>
                <input id="total-days" placeholder="Total Days" type="number">
            </div>

            <div>
                <label for="reason">Reason </label>
                <input id="reason" placeholder="Reason" type="text">
            </div>

            <div class="bottom">
                <button class="submit" type="submit">Apply</button>
            </div>
        </form>
    </div>
</div>

